body {
  margin: 0;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  text-transform: uppercase;

}
.wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.canvas-container {
  flex: 1;
  overflow: hidden;
  position: relative;
}
.customizer-container{
  width: 100%;
  background-color: black;
  color: white;

}

.color-fabric-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.box, .box-fabric {
  height: 40px;
  width: 40px;
  border: 1px solid #333333;

}

.colorOption, .fabricOption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


#leatherFabric {
  background-image: url('/fabrics/leather.jpg');
}

#denimFabric {
  background-image: url('/fabrics/denim.jpg');
}

#metalLeatherFabric {
  background-image: url('/fabrics/metal-leather.jpg');
}

#velvetFabric {
  background-image: url('/fabrics/velvet.jpg');
}

#polyesterFabric {
  background-image: url('/fabrics/polyester.jpg');
}